.SpecialInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
}

.SpecialInputLabel {
    font-weight: bold;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    color: #B0355E;
}

#SpecialInputMemberProjects {
    display: flex;
    flex-direction: row;
}

.SpecialInputMember {

}

#SpecialInputCompletedMember {
    display: flex;
    flex-direction: column;
}

.SpecialInputCompletedMembers {
    width: 100%;
}

#CompletedMemberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 2px #a4a4a4;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

#CompletedMemberPersonalDetails {
    display: flex;
    flex-direction: row;
}

.CompletedMemberData {
    flex: 1;
    align-self: center;
    /* margin: top right bottom left */
    margin: 5px 10px 5px 0px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 0px;
}

.DeleteMember {
    flex: 1;
    align-self: flex-end;
    /* margin: top right bottom left */
    margin: 5px 10px 5px 0px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 0px;
    outline: none;
    border: none;
    background: none;
}

.CompletedMemberProject {
    color: black;
    font-size: 15px;
}

#CompletedMemberProjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#CompletedProjectContainer {
    display: flex;
    flex-direction: row;
    background-color: #f6a7dd;
    margin: 2px 5px 2px 5px;
    border-radius: 3px;
}

.CompletedProjectMemberData {
    margin: 5px 10px 5px 10px;
    padding: 5px;
}

#OtherProjectTitle {
    color: #A4A4A4;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 5px;
}

.SpecialInputMemberInfo {
    display: flex;
    flex-direction: column;
    border: solid #A4A4A4 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.SpecialInputInput {
    border: none;
    border-bottom: 1px solid #A4A4A4;
    margin-left: 5px;
    margin-right: 5px;
}

.SpecialInputInput:focus {
    outline: none;
}

.SpecialInputProjectContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#SpecialInputMemberProjectsProject {
    display: flex;
    flex-direction: row;
}

#SpecialInputMemberProjectsTitle {
    margin-left: 5px;
}

#SpecialInputPlus {
    align-self: center;
    border: solid 1px gray;
    border-radius: 2px;
    font-size: 20px;
    background-color: white;
}

.SpecialInputAddMember {
    align-self: center;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 3px 15px 3px 15px;
    margin-left: 70px;
    margin-right: 70px; 
}

.SpecialInputAddProject {
    align-self: center;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 3px 15px 3px 15px;
    margin-left: 70px;
    margin-right: 70px;
}

.SpecialSeparatorLine {
    margin-left: 20px;
    margin-right: 20px;
}

/* SPECIAL INPUT */
.ProjectTeamContainer {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    width: 100%;
    padding-left: 10px;
}

.ProjectTeamMember {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 0px 0px;
}

.ProjectTeamMemberInfo {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0px;
    height: 100%;
    color: #4a4949;
} 

.ProjectOtherProjectsTitle {
    font-size: 1em;
    padding-left: 5px;
}

.ProjectTeamMemberOtherProjects {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    padding-left: 10px;
}

.ProjectTeamOtherProjectInfo {
    display: flex;
    flex-direction: row;
}