.SpecialInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
}

.SpecialInputLabel {
    font-weight: bold;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    color: #B0355E;
}

#SpecialInputMemberProjects {
    display: flex;
    flex-direction: row;
}

.SpecialInputMember {

}

#SpecialInputCompletedMember {
    display: flex;
    flex-direction: column;
}

#CompletedMemberContainer {
    display: flex;
    flex-direction: column;
    border: solid 2px #a4a4a4;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    background-color: #639ef2;
}

#CompletedMemberPersonalDetails {
    display: flex;
    flex-direction: row;
}

.CompletedMemberData {
    /* margin: top right bottom left */
    margin: 5px 10px 5px 0px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 0px;
}

.CompletedMemberProject {
    color: black;
    font-size: 15px;
}

#CompletedMemberProjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#CompletedProjectContainer {
    display: flex;
    flex-direction: row;
    background-color: #f6a7dd;
    margin: 2px 5px 2px 5px;
    border-radius: 3px;
}

.CompletedProjectMemberData {
    margin: 5px 10px 5px 10px;
    padding: 5px;
}

#OtherProjectTitle {
    color: #A4A4A4;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 5px;
}

#SpecialInputMemberInfo {
    display: flex;
    flex-direction: column;
    border: solid #A4A4A4 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.SpecialInputInput {
    border: none;
    border-bottom: 1px solid #A4A4A4;
    margin-left: 5px;
    margin-right: 5px;
}

.SpecialInputInput:focus {
    outline: none;
}

.SpecialInputProjectContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#SpecialInputMemberProjectsProject {
    display: flex;
    flex-direction: row;
}

#SpecialInputMemberProjectsTitle {
    margin-left: 5px;
}

#SpecialInputPlus {
    align-self: center;
    border: solid 1px gray;
    border-radius: 2px;
    font-size: 20px;
    background-color: white;
}

#SpecialInputAddMember {
    background-color: white;
    color: #a6a6a6;
    margin-left: 70px;
    margin-right: 70px;
    border: solid 2px #A4A4A4;
}

#SpecialInputAddProject {
    background-color: white;
    color: #a6a6a6;
    border: solid 2px #A4A4A4;
}

.SpecialSeparatorLine {
    margin-left: 20px;
    margin-right: 20px;
}