.admin-text-input-container {
    width: 100%;
    display: flex;
    color : #000000;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-text-input-label {
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    color: #B0355E;
    margin: 0px;
    align-self: flex-start;
}

.admin-text-input {
    height: 100%;
    border: none;
    border-bottom: 1px solid #A4A4A4;
    text-decoration: none;
    text-align: center;
    padding: 5px; 
    background-color: #ffffff00;
    text-align: start;
}

.admin-text-input::placeholder {
    color: #A4A4A4;
    margin-left: 5px;
}

.admin-text-input:focus {
    outline: none;
}