.ModalContainerOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000059;
    z-index: 1000;
}

.Modal {
    width: 50%;
    height: 70%;
    background: #f1f1f1;
    border-radius: 15px;
    padding: 20px;
}

.ModalLine {
    height: 2px;
    width: 100%;
    background-color: var(--secondary-text-color);
}

.ModalTopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ModalSeperatorLine {
    width: 60%;
    align-self: center;
}

.ModalContent {
    display: flex;
    flex-direction: column;
}

.CloseModal {
    color: #555454;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 2vh;
}

.DeanContainer {
    display: flex;
    flex-direction: row;
}

.DeanProperties {

}

.DepartmentContainer {
    display: flex;
    flex-direction: row;
}