.InputFormContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #A4A4A4;
}

.InputForm {
    display: flex;
    height: 100%;       
    align-self: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 50px 200px 50px 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.document-title {
    font-family: 'Segoe UI';
    color: #A4A4A4;
    align-self: center;
}

.NameSurnameLabel {
    align-self: flex-start;
    font-weight: bold;
    text-transform: uppercase;
    color: #B0355E;
}

.NameSurnameData {
    border: none;
    margin-top: 8px;
    color:#424242;
    text-decoration-color: #424242;
    background-color: rgba(142, 142, 142, 0.296);
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}

.NameSurnameContainer {
}