.AdminDashboardProjectTeamContainer {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    width: 100%;
    padding-left: 10px;
}

.AdminDashboardProjectTeamMember {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 0px 0px;
    border-bottom: 1px solid #7b7b7b;
}

.AdminDashboardProjectTeamMemberInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin: 0px;
    height: 100%;
    color: #4a4949;
} 

.AdminDashboardProjectOtherProjectsTitle {
    font-size: 1em;
    padding-left: 10px;
}

.AdminDashboardProjectTeamMemberOtherProjects {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding-left: 10px;
}

.AdminDashboardProjectTeamOtherProjectInfo {
    display: flex;
    flex-direction: row;
}