.project-info-button{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #515151;
    font-weight: bold;
    background-color: #e8e6e6;
    width: 100%;
    margin-top: 10px;
}

.project-info-button:hover{
    background-color: #cecece;
}

.project-info-button-is-selected{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #4E4E4E;
    font-weight: bold;
    background-color: #4e4e4e5f;
    width: 100%;
    margin-top: 10px;
}

