.PositionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 15px 0px 7px 0px;
    color: #5a5a5a;
    font-size: 1em;
    font-weight: 500;
}

.InputTitle {
    font-size: 1em;
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;
}

.ValueInput {
    margin-bottom: 4px;
    height: 1.6em;
    font-size: 1em;
    padding-left: 5px;
}

.ValueInput::placeholder {
    color: #5a5a5a;
    font-size: 0.9em;
}

.ValueInput:focus {
    border: none;
    outline: 1.5px solid #6F6F6F;
    font-size: 1em;
}

.AddNewPositionButton {
    border: none;
    outline: none;
    background-color: #6F6F6F;
    width: auto;
    color: white;
    font-size: 1em;
    margin: 5px ;
    font-weight: 500;
    text-transform: uppercase;
}

.AddNewPositionButton:hover {
    border: none;
    outline: none;
    background-color: #bbbbbb;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
}

.PositionContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.RemovePositionButton {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-start;
    padding: 0px;
}

.RemovePositionButton:hover {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-start;
    padding: 0px;
}