.AdminDashboardContainer{
    display: grid;
    grid-template-columns: 15% 30% 55%;
    height: 100%;
    width: 100%;
}

.NavbarContainer{
    background-color: #f0f0f0; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border for better visibility */
    box-sizing: border-box;
}

.ExplorerContainer{
    background-color: #f0f0f0; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border for better visibility */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.InfoContainer{
    background-color: #f0f0f0; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border for better visibility */
    box-sizing: border-box;
}