/* MY PART */

/* MAIN DASHBOARD - GENERAL */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: pink;
}


/* first section */
.type-of-project-applications-section {
    background-color: #EAEAEA;
    flex:1;
    height: 100%;
    padding-top: 10px;
}

/* second section */
.project-applications-container {
    background-color: #F6F6F6;
    flex: 1;
    height: 100%;
    padding-top: 10px;

}

/* third section*/
.single-application-container {
    background-color: #FDF9F9;
    flex: 1;
    height: 100%;
    padding: 10px 10px 0px 10px;
    overflow-y: auto;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    color: #929292;
    font-weight: bold;
}


.type-of-project-applications-container {
    background-color: #A9224F;
}

.project-type-form-button-selected {
    width: 100%;
    background-color: #d2d2d2;
    border: none;
    padding: 5px;
    margin-left: 10px;

    font-size: 20px;
    text-transform: uppercase;
    color: #A9224F;
    font-weight: bold;
    text-align: start;
}


.project-type-form-button {
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 5px;

    font-size: 20px;
    text-transform: uppercase;
    color: #929292;
    font-weight: bold;
    text-align: start;
}

.admin-font {
    font-size: 13px;
}

/* edit button */
.edit-button {
    color: #4E4E4E;
    outline:  #4E4E4E 1px;
    border-radius: 3px;   
}