.InputContainer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #A4A4A4;
}

.InputForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
