.project-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdfContainer{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
}

.pdfDivInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}


.pdfDownloadLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.pdfContent {
    display: flex;
    flex-direction: row;
}

.pdfTitle {
    font-size: 1.2em;
    color:#515151;
    font-weight: bold;
}