.ProjectInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdfContainer{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
}


.pdfContent {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.pdfDivInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}


.pdfDownloadLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.pdfTitle {
    font-size: 1.2em;
    color:#515151;
    font-weight: bold;
}

.ConvertToCsvContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 20px 0px 10px 0px;
}

.ConvertToCsvContainer p {
    text-align: center;
    margin: 0;
    margin-right: 20px;
    font-size: 1.1em;
}