.SpecialInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #5a5a5a;
    font-size: 1em;
    font-weight: 500;
    margin-top: 10px;
    width: 80%;
}

.SpecialInputLabel {
    font-weight: bold;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    color: #B0355E;
}

.InputTitle {
    font-size: 1em;
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 5px;
}

#SpecialInputMemberProjects {
    display: flex;
    flex-direction: row;
}

.SpecialInputCompletedMember {
    display: flex;
    flex-direction: column;
}

.SpecialInputCompletedMembers {
    width: 100%;
    margin-top: 20px;
    color: #6e6e6e;
    font-size: 1em;
    font-weight: 500;
}

#CompletedMemberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 2px #a4a4a4;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

#CompletedMemberPersonalDetails {
    display: flex;
    flex-direction: row;
}

.CompletedMemberData {
    flex: 1;
    align-self: center;
    /* margin: top right bottom left */
    margin: 5px 10px 5px 0px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 0px;
}

.DeleteMember {
    flex: 1;
    align-self: flex-end;
    /* margin: top right bottom left */
    margin: 5px 10px 5px 0px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 0px;
    outline: none;
    border: none;
    background: none;
}

.CompletedMemberProject {
    color: black;
    font-size: 15px;
}

#CompletedMemberProjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#CompletedProjectContainer {
    display: flex;
    flex-direction: row;
    background-color: #f6a7dd;
    margin: 2px 5px 2px 5px;
    border-radius: 3px;
}

.CompletedProjectMemberData {
    margin: 5px 10px 5px 10px;
    padding: 5px;
}

#OtherProjectTitle {
    color: #A4A4A4;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 5px;
}
.SpecialInputMemberInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.SpecialInputTextInput {
    border: solid 1px #000000;
    padding: 2px 6px 2px 6px;
    margin: 2px;
    width: 50%;
    border-bottom: 1px solid #A4A4A4;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

.SpecialInputNumberInput {
    border: solid 1px #000000;

    padding: 2px 6px 2px 6px;
    margin: 2px;
    width: 50%;
    border-bottom: 1px solid #A4A4A4;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

.SpecialInputInput:focus {
    outline: none;
}

.SpecialInputProjectContainer {
    display: flex;
    flex-direction: column;
}

.SpecialInputMemberProjectsProject {
    display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;
}

.SpecialInputMemberProjectsTitle {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.SpecialInputPlus {
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
}

.SpecialInputPlus:hover {
    background-color: #cecece;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
}

.SpecialInputMinus {
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    margin-left: 30px;
    align-self: center;
}

.SpecialInputMinus:hover {
    background-color: #cecece;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    margin-left: 30px;
    align-self: center;
}

.SpecialInputPlus:hover {
    background-color: #cecece;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
}



.SpecialInputAddMember {
    align-self: center;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 3px 15px 3px 15px;
    margin-left: 70px;
    margin-right: 70px; 
}

.SpecialInputAddMember:hover {
    align-self: center;
    background-color: #cecece;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 3px 15px 3px 15px;
    margin-left: 70px;
    margin-right: 70px; 
}

.SpecialInputAddProject {
    display: inline-block;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    border: none;
    padding: 3px 5px 3px 5px;
    margin-left: 20px;
}

.SpecialInputAddProject:hover {
    display: inline-block;
    background-color: #cecece;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    border: none;
    padding: 3px 5px 3px 5px;
    margin-left: 20px;
}

.SpecialSeparatorLine {
    margin-left: 20px;
    margin-right: 20px;
}

/* SPECIAL INPUT */
.ProjectTeamContainer {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    width: 100%;
    padding-left: 10px;
}

.ProjectTeamMember {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.EditProjectTeamMembers {
    margin-left: "auto";
    font-weight: 500; 
    border: none;
    background-color:"#6F6F6F";
    color: "#FDFDFD";
    font-size: 0.8em
}

.EditProjectTeamMembers {
    margin-left: auto;
    font-weight: 500; 
    border: none;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-size: 0.8em;
}

.EditProjectTeamMembers:hover {
    margin-left: auto;
    font-weight: 500; 
    border: none;
    background-color: #cecece;
    color: #FDFDFD;
    font-size: 0.8em;
}


.DeleteMemberYesNo {
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-size: 0.8em;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
    margin: 2px;
}

.DeleteMemberYesNo:hover {
    background-color: #cecece;
    color: #FDFDFD;
    font-weight: 500;
    font-size: 0.8em;
    box-shadow: none;
    outline: none;
    border: none;
    margin: 2px;
}

.ProjectTeamMemberInfo {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
    height: 100%;
    color: #4a4949;
}


.ProjectOtherProjectsTitle {
    font-size: 1em;
    padding-left: 5px;
}

.ProjectTeamMemberOtherProjects {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin-left: 5px;
}

.ProjectTeamOtherProjectInfo {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}