.NumberInputContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    position: relative;
}

.NumberInputHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 2px 5px; /* first value - top/bottom padding, second value - left/right padding value */
}

.CurrencySign {
    z-index: 1;
    font-weight: 500;
    font-size: 1em;
}

.NumberInputLabel {
    align-self: flex-start;
    font-weight: bold;
    text-transform: uppercase;
    color: #B0355E;
}

.NumberInputInput {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 2px 5px;
    color: black;
    caret-color: black; /* Set caret color to black */
}

.NumberInputInput:focus {
    outline: none;
}
