.pdfDownloadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdfDocumentTitle {
    margin: 0;
    color: #515151;
    font-weight: bold;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden; /* Hide the overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
  
}

.downloadButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #6F6F6F;
}

.downloadButtonText {
    color: #ffffff;
    font-size: 1em;
    margin-right: 10px;
}

.pdfDownloadContainer button:hover {
    background-color: #cecece;
}