.ModalContainerOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000059;
    z-index: 1000;
}

.Modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;    
}

.ModalTopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.ModalMessageContainer {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    color: #6F6F6F;
    padding: 5px;
}

.ModalButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.ModalYesButton {
    width: 20%;
    height: 70%;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
}

.ModalYesButton:hover {
    background-color: #a0a0a0;
}

.ModalNoButton {
    width: 20%;
    background-color: #6F6F6F;
    color: #FDFDFD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: none;
    outline: none;
    border: none;
}

.ModalNoButton:hover {
    background-color: #a0a0a0;
}

.ModalButton:hover {
    background-color: #a0a0a0;
}