/* MY PART */

/* MAIN DASHBOARD - GENERAL */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

/* removing scrollbar at all */
::-webkit-scrollbar {
    display: none;
}

.admin-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-color: pink;
}


/* first section */
.type-of-project-applications-section {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    flex:1;
    height: 100%;
    padding-top: 10px;
}

/* second section */
.project-applications-container {
    background-color: #F6F6F6;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

/* remove scroll bar */
.project-applications-container::-webkit-scrollbar {
    display: none;
}


.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #cfcfcf;
}

.pending-button-hidden {
    flex: 1;
    background-color: #cfcfcf;
    text-align: center;
    color: #9c9c9c;
    font-weight: bold;  
    border: solid #cfcfcf;
}

.approved-button-hidden {
    flex: 1;
    background-color: #cfcfcf;
    text-align: center;
    color: #9c9c9c;
    font-weight: bold;
    border: solid #cfcfcf;
}

.declined-button-hidden {
    flex: 1;
    background-color: #cfcfcf;
    text-align: center;
    color: #9c9c9c;
    font-weight: bold;
    border: solid #cfcfcf;
}


.pending-button-selected {
    flex: 1;
    text-align: center;
    color: #A9224F;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;

}

.approved-button-selected {
    flex: 1;
    text-align: center;
    color: #A9224F;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
}

.declined-button-selected {
    flex: 1;
    text-align: center;
    color: #A9224F;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
}

/* third section*/
.single-application-container {
    background-color: #FDF9F9;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 10px 100px 10px;
    overflow-y: auto;
}

/* remove scrollbar */
.single-application-container::-webkit-scrollbar {
    display: none;
}

.manage-project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}

/* edit button */

.manage-button-style {
    display: flex;
    flex-direction: row;
    background-color: #6F6F6F;
    box-shadow: none;
    align-self: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-button-container {
}

.edit-button {
    color: #FDF9F9;
    margin-left: 8px;
    font-weight: bold;
    background-color: #ffffff00;
    border: none;
}

.decision-buttons-container {
    display: flex;
    flex-direction: row;
}

.approve-button-container {
    margin: 0px 10px 0px 10px;
}

.decline-button-container {
    margin: 0px 10px 0px 10px;
}

.approve-button {
    color: #FDF9F9;
    font-weight: bold;
    background-color: #ffffff00;
    border: none;
}

.decline-button {
    color: #FDF9F9;
    font-weight: bold;
    background-color: #ffffff00;
    border: none;
}



.section-title {
    text-align: center;
    text-transform: uppercase;
    color: #929292;
    font-weight: bold;
}


.type-of-project-applications-container {
    background-color: #A9224F;
}

.project-type-form-button-selected {
    width: 100%;
    background-color: #d2d2d2;
    border: none;
    padding: 5px;
    margin-left: 10px;

    font-size: 20px;
    text-transform: uppercase;
    color: #A9224F;
    font-weight: bold;
    text-align: start;
}


.project-type-form-button {
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 5px;

    font-size: 20px;
    text-transform: uppercase;
    color: #929292;
    font-weight: bold;
    text-align: start;
}

.admin-font {
    font-size: 13px;
}

